/* -------  General Styles ------- */

body {
    font-family: "Lato", sans-serif;
}

h2 {
    font-size: 26px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

p {
    line-height: 1.5em;
    margin: 0;
}

section {
    padding: 20px;
}

section.alternate-background {
    background-color: #00a699;
    color: #fff;
}

main img {
    width: 100%;
}


/* ---  Groups & Items --- */

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

.item {
    flex: 1;
    margin: 10px;
    align-self: center;
    width: 100%;
}

.item-double {
    flex: 2;
    align-self: center;
}


/* -------  Navigation ------- */

header {
    background-color: #ff385c;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.logo {
    font-family: "Pangolin", cursive;
    font-size: 72px;
    color: #fff;
}

header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px 0 0;
}

header nav ul li a:hover {
    color: #bdbdbd;
    text-decoration: none;
}


/* -------  Search Form ------- */

form {
    border: 2px solid #ff385c;
    margin: 20px
}

form div {
    display: flex;
    justify-content: space-between;
}

form label {
    margin: 10px;
    font-weight: bold;
}

form select,
form input {
    margin: 10px;
    width: 100%;
    max-width: 140px;
}

form button {
    background-color: #ff385c;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 15px;
    margin: auto;
    width: 90%;
}


/* -------  Footer ------- */

footer {
    background-color: #ff385c;
}

footer p {
    color: #fff;
    text-align: center;
    padding: 20px;
}


/* -------  Media Query ------- */

@media all and (min-width: 480px) {
    .group {
        flex-direction: row;
    }
    form {
        display: flex;
        justify-content: space-evenly;
    }
    form div {
        flex-direction: column;
        justify-content: center;
    }
    form label {
        margin: 0;
    }
    form select,
    form input {
        margin: 0px;
        width: 100%;
    }
    .logo {
        text-align: left;
        font-size: 30px;
    }
    header {
        padding: 0;
    }
}